<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
<configuration>
    <!-- 내부에서 사용하려는 변수가 있는 파일 지정 : ${name}으로 참조 -->
    <properties resource="mybatis/mybatis-config.properties"/>
 
        
    <!-- connection pool -->
    <!-- 보안, 유지보수 차원에서 정보를 빼내서 사용 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    
    <!-- 사용할 쿼리에 대한 등록 -->
    <mappers>
        <mapper resource="mybatis/board.xml" />
    </mappers>
</configuration>